<footer class="footer">
  <div class="container">
    <b>Flask&nbsp;+&nbsp;Spark&nbsp;SPA&nbsp;-&nbsp;Jakub&nbsp;Kałużny</b>
    &nbsp;&nbsp;&nbsp;
    Find me on: 
    &nbsp;<a href="https://github.com/kaluzny1995"><i class="fa fa-github" aria-hidden="true"></i></a>&nbsp;
    and
    &nbsp;<a href="https://www.linkedin.com/in/jakub-ka%C5%82u%C5%BCny-291096133/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;
    &nbsp;&nbsp;&nbsp;
    <span>Based on <a href="http://mherman.org">Michael Herman</a>s solution.</span>
  </div>
</footer>
